* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

ul {
    display: table;
    margin: 0 auto;
  }

ol {
    display: table;
    margin: 0 auto;
  }

h1,
h3 {
    text-align: center;
}

h1 {
    background-color: lightblue;
}

p {
    text-align: center;
}
.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

body {
    background-image: url("./images/polka.png");
    background-size: cover;



}

